body {
    background-color: azure;
    font-family: Roboto;
}


.list {
  list-style-type: none;
}

.lspace {
    padding-left: 8vw;
}

.right {
  text-align: right;
}

.vbottom {
  margin-bottom: 3vh;
}

.vtop {
  margin-top: 7vh;
}

