body {
    background-color: azure;
    font-family: Roboto;
}

.alt-background {
  background-color: gainsboro;
}


.list {
  list-style-type: none;
}

.lspace {
    padding-left: 8vw;
}

.lspace2 {
  margin-left: 1.2vw;
}

.ptop {
  padding-top: 3vh;
}

.ptop2 {
  padding-top: 7vh;
}

.subtitle-color {
  color: darkviolet;
}

.title-color {
  color: mediumvioletred;
}

.vbottom {
  margin-bottom: 3vh;
}

.vtop {
  margin-top: 7vh;
}

